$default: #515151;
	.default { color: $default; }
	.bg-default { background-color: $default; }

$purple: #3C2B72;
	.purple { color: $purple; }
	.bg-purple { background-color: $purple; }

$lavender: #9BA1C4;
	.lavender { color: $lavender; }
	.bg-lavender { background-color: $lavender; }

$turquoise: #85BAB9;
	.turquoise { color: $turquoise; }
	.bg-turquoise { background-color: $turquoise; }

$green: #C7D8D6;
	.green { color: $green; }
	.bg-green { background-color: $green; }

$transparent_green: transparentize($green, 0.05);

$lt_grey: #eee;
	.lt-grey { color: $lt_grey; }
	.bg-lt-grey { background-color: $lt_grey; }

.white { color: #fff; }
.bg-white { background-color: #fff; }