$purple: #3C2B72;
	.purple { color: $purple; }
	.bg-purple { background-color: $purple; }

$lavender: #9BA1C4;
	.lavender { color: $lavender; }
	.bg-lavender { background-color: $lavender; }

$turquoise: #85BAB9;
	.turquoise { color: $turquoise; }
	.bg-turquoise { background-color: $turquoise; }