input {
	border: 2px solid $purple;
	border-radius: 0;
	color: $purple;
	font-size: 1.2em;
	padding: 0.5em;
}

input[type="submit"] {
	background: $purple;
	color: #fff;
	padding: 0.5em 2.5em;
	transition: 0.2s;

	&:active, &:focus, &:hover {
		border-color: $turquoise;
		background: $turquoise;
	}
}