/* 
 *	By config.rb, the CSS will always be minified.
 */

// ----- imports

@import "compass";
@import "normalize";
@import "reset";
@import "colors";
@import "layout";
@import "fonts";
@import "oldie";

// ----- mixins, OO classes

@mixin tight {
	margin: 0;
	padding: 0;
}
.tight { @include tight; }

.lowercase { text-transform: none; }
.uppercase { text-transform: uppercase; }

.big { font-size: 1.2em; }

.abs {
	position: absolute;
	&.left { left: 0; }
	&.right { right: 0; }
}

.background-cover {
	background-position: 50% 50%;
	background-size: cover;
}

// ----- styles

* { 
	box-sizing: border-box;
	position: relative;
}

body { 
	color: $default;
}

a {
	transition: 0.2s;
}

// ----- header

$menu_item_padding_top: 1em;
$menu_item_padding_bottom: 0.9em;
$menu_item_height: $menu_item_padding_top + $menu_item_padding_bottom + 1em;

header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;

	nav {
		@include brandon;
		text-align: center;

		ul {
			list-style-type: none;
			@include tight;
		}

		& > ul > li {
			background: $purple;
			height: $menu_item_height;
			float: left;
			margin: 0 2px;
			padding: $menu_item_padding_top 1em $menu_item_padding_bottom;

			span, a, a:visited {
				color: #fff;
				text-decoration: none;

				&:active,
				&:hover {
					color: $green;
				}
			}
		}

		.highlight {
			background: $lavender;
		}
	}
}

#logo, #menu {
	width: 24%;
}

#logo {
	border-bottom: 2px solid $lavender;
	margin-left: 0;
	padding-top: 0.6em;
	img {
		width: 180px;
	}
}

#menu {
	background: transparent; // goes on the <span> instead
	cursor: pointer;
	padding: 0; // same

	span { // this <span> is like a ghost <li> in the nav
		background: $purple;
		height: $menu_item_height;
		display: block;
		padding: $menu_item_padding_top 1em $menu_item_padding_bottom;
		z-index: 2;
	}
}

.menu {
	background: transparentize($green, 0.05);
	left: 0;
	position: absolute;
	top: -800px;
	transition: 0.5s;
	width: 100%;

	&.active {
		top: $menu_item_height;
	}
}

#sub-menu {
	padding: 1em 0.2em;
	z-index: 1;

	a, a:visited {
		color: $default;
		display: block;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&:active, &:focus, &:hover {
			color: $purple;
		}
	}

	.social {
		text-align: center;
		a {
			display: inline-block;
			font-size: 1.5em;
			padding: 0.5em 0.8em 0;
		}
	}
}

#find-us {
	float: right;
	margin-right: 0;
}

#find-us-menu {
	padding: 4%;
	text-align: left;

	address, #tel {
		font-size: 1.2em;
		margin: 1em 0;
		text-transform: none;
	}
}

#map {
	float: left;
	margin-right: 4%;
	width: 48%;
}

// ----- modules

.module {
	
	.content {
		padding: 2em;
		&.lesser { padding: 1em 1em 0.5em; }

		&.heading {
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			&.bg-turquoise { 
				border-bottom: 2px solid $green;
				margin-bottom: 2px;
			}

			h1, h2, h3 { color: #fff; margin: 0; }
		}

		h1, h2, h3 {
			margin-top: 0;

			& + p {
				margin-top: 0;
			}
		}

		// Cribbed from Chris Coyier/CSS-Tricks: http://css-tricks.com/spacing-the-bottom-of-modules/
		& > *:first-child,
		& > *:first-child > *:first-child,
		& > *:first-child > *:first-child > *:first-child {
			margin-top: 0;
		}
		& > *:last-child,
		& > *:last-child > *:last-child,
		& > *:last-child > *:last-child > *:last-child {
			margin-bottom: 0;
		}
	}

	.footer {
		background: $purple;
		border-bottom: 2px solid $lavender;
		color: #fff;
		display: block;
		@include brandon;
		padding-top: 1em;
		padding-bottom: 0.8em;
		text-decoration: none;
	}

	a.footer, a.footer:visited { 
		color: #fff;
		&:active, &:focus, &:hover {
			background: $turquoise;
			border-color: $green;
		}
	}
}

// ----- home page

.home {
	main > section {
		background-color: $default;
		opacity: 0.5;
		padding-top: 30%;
		transition: 0.25s;

		.module {
			bottom: -80px;
			opacity: 0;
			transition: 0.25s;
			width: 40%;
		}

		h2 {
			color: $turquoise;
			font-size: 3em;
			margin-bottom: 0;
			top: 0; // don't "fix" these titles
		}

		&.active {
			opacity: 1;
			.module {
				opacity: 1;
			}
		}
	}
}

$from_blog: 154px;
#updates-specials {
	background: $green;
	padding: 120px 0 60px;

	section {
		padding-right: $from_blog;
	}

	.post {
		padding-right: 2px;
		margin-bottom: 2px;
	}

	.header {
		cursor: pointer;
		@include brandon;
		height: ($from_blog - 4px) / 3;

		&.active, &:active, &:hover {
			.title { color: $default; }
		}
	}

	time {
		background: $lavender;
		color: $purple;
		float: left;
		width: 20%;
	}

	.title {
		background: #fff;
		color: $turquoise;
		float: left;
		transition: 0.2s;
		width: 80%;
	}

	time, .title {
		height: 100%;
		padding: 1.1em 2em 0.9em;
	}

	.summary {
		background: $purple;
		color: #fff;
		display: none;
		padding: 2em;
	}
}

	#from-blog {
		background: $purple;
		height: $from_blog;
		padding: 1.5em 1em;
		position: absolute;
		right: 0;
		text-overflow: ellipsis;
		top: 0;
		transition: 0.2s;
		width: $from_blog;

		&:hover {
			background: $turquoise;
		}

		h2 { 
			font-size: 1.3em;
			margin-top: 2px;
		}

		a, a:visited {
			color: #fff;
			display: block;
			text-decoration: none;
		}
	}

// ----- Pages

#masthead {

	.module {
		margin-top: 200px;
		max-width: 500px;
		width: 50%;
	}

	p {
		font-size: 1.2em;
	}
}

.scroll-down {
	padding: 10px 0 0 10px;
	transition: 0.8s;
	.preload & { opacity: 0; } // fade in on page load

	aside {
		float: left;
		height: 40px;
		top: 8px;
		transform: rotate(-45deg);
		transform-origin: 0 0;
		width: 80px;

		&:before,
		&:after {
			background: #fff;
			border-radius: 2px;
			content: "";
			display: block;
			left: 0;
			position: absolute;
		}
		&:before {
			height: 40px;
			top: 0;
			width: 4px;
		}
		&:after {
			bottom: 0;
			height: 4px;
			width: 40px;
		}
	}
	p {
		color: #fff;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		text-transform: uppercase;
	}
}

#content {
	background: $green;
	padding-top: 5em;
	padding-bottom: 5em;
}

// ----- Getting Started

#buttons {
	margin-bottom: 5em;

	a {
		@include brandon;
		font-size: 1.3em;
		padding: 1em 1em 0.8em;

		&:active, &:focus, &:hover {
			background: $purple;
		}

		span {
			font-size: 1.6em;
			line-height: 0;
			margin-right: 0.2em;
			top: 0.15em;
		}
	}
}

.learn-more {
	float: right;
	margin-left: 20px;
	width: 200px;
	z-index: 2;

	a, a:visited {
		background: $purple;
		color: #fff;
		display: block;
		@include brandon;
		margin-bottom: 10px;
		padding: 1em 1em 0.8em;
		text-align: center;

		&:active, &:focus, &:hover {
			background: $green;
		}
	}
}

// ----- Instructors

.instructors {
	border-top: 3px solid $green;
	.heading + & {
		border-top: 0;
	}
}

.instructor {
	border-left: 1px solid $green;
	border-right: 1px solid $green;
	cursor: pointer;
	float: left;
	width: 33.333%;
	&.first { left: -1px; }
	&.last { left: 1px; }

	.name {
		background: $lavender;
		transition: 0.2s;

		h3 { 
			color: $purple;
			display: inline; 
			margin-right: 5px;
			top: 0;
		}

		span {
			color: #fff;
		}
	}

	&.active {
		.name {
			background: $purple;
			h3 {
				color: $lavender;
			}
		}
	}
}

// ----- Footer

footer {
	padding: 20px 0 5px;
	a, a:visited {
		color: #fff;
		text-decoration: none;
		&:active, &:focus, &:hover {
			text-decoration: underline;
		}
	}
}
	#copyright {
		font-size: 0.9em;
	}

	#ext-links {
		padding-top: 10px;

		.icon {
			font-size: 1.4em;
			text-decoration: none !important; // don't underline on hover
			top: 0.2em;
		}

		a {
			display: inline-block;
			margin-left: 20px;
			&:active, &:focus, &:hover {
				text-decoration: none;
				span {
					text-decoration: underline;
				}
			}
		}
	}