/* 
 *	By config.rb, the CSS will always be minified.
 */

// ----- imports

@import "compass";
@import "normalize";
@import "reset";
@import "colors";
@import "layout";
@import "fonts";
@import "oldie";

// ----- mixins, OO classes

@mixin tight {
	margin: 0;
	padding: 0;
}
.tight { @include tight; }

.lowercase { text-transform: none; }
.uppercase, .caps { text-transform: uppercase; }

.big { font-size: 1.2em; }

.block { display: block; }

.abs {
	position: absolute;
	&.left { left: 0; }
	&.right { right: 0; }
}

.background-cover {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

// ----- styles

* { 
	box-sizing: border-box;
	position: relative;
}

html {
	background: $transparent_green;
}

body { 
	color: $default;
	overflow-x: hidden;
}

a {
	transition: 0.2s;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }

// ----- header

$menu_item_padding_top: 1em;
$menu_item_padding_bottom: 0.9em;
$menu_item_height: $menu_item_padding_top + $menu_item_padding_bottom + 1em;

$small_screen_menu: 900px; // point at which we switch to small screen menu

header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;

	a { text-decoration: none; }

	nav {
		@include brandon;
		text-align: center;

		ul {
			list-style-type: none;
			@include tight;
		}

		& > ul > li {
			float: left;
			margin: 0 2px;

			& > a {
				background: $purple;
				display: block;
				color: #fff;
				height: $menu_item_height;
				padding: $menu_item_padding_top 1em $menu_item_padding_bottom;

				&:active,
				&:hover {
					color: $green;
				}
			}

			@media screen and (max-width: $small_screen_menu) {
				display: none;
			}
		}

		.highlight {
			background: $lavender;
		}
	}

	@media screen and (max-width: $small_screen_menu) {
		background: $purple;
	}
}

#logo, #menu {
	min-width: 200px;
	width: 24%;
}

#logo {
	background: $purple;
	border-bottom: 2px solid $lavender;
	display: block;
	margin-left: 0;

	a {
		display: block;
		padding: 0;
	}
	img {
		top: 0.6em;
		width: 180px;
	}
}

#menu {
	background: transparent; // goes on the <span> instead
	color: #fff;
	cursor: pointer;
	padding: 0; // same

	span { // this <span> is like a ghost <li> in the nav
		background: $purple;
		height: $menu_item_height;
		display: block;
		padding: $menu_item_padding_top 1em $menu_item_padding_bottom;
		z-index: 2;
	}
}

.menu {
	background: $transparent_green;
	left: 0;
	position: absolute;
	top: -800px;
	transition: 0.5s;
	width: 100%;

	&.active {
		top: $menu_item_height;
	}
}

#sub-menu {
	padding: 1em 0.2em;
	z-index: 1;

	a, a:visited {
		color: $default;
		display: block;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		&:active, &:focus, &:hover {
			color: $purple;
		}
	}

	.social {
		text-align: center;
		a {
			display: inline-block;
			font-size: 1.5em;
			padding: 0.5em 0.8em 0;
		}
	}
}

#find-us {
	float: right;
	margin-right: 0;

	a {
		background: $lavender;
		&:active, &:focus, &:hover {
			color: $purple;
		}
	}
}

#find-us-menu {
	padding: 4%;
	text-align: left;

	address, .tel {
		font-size: 1.2em;
		margin: 1em 0;
		text-transform: none;
	}
}

#map {
	float: left;
	margin-right: 4%;
	width: 48%;
}

#small-screen-menu-icon {
	display: none;

	@media screen and (max-width: $small_screen_menu) {
		background: $lavender;
		display: block !important;
		cursor: pointer;
		height: 48px;
		padding: 1em;
		float: right;
	}

	.stripe {
		background: #fff;
		border-radius: 2px;
		height: 3px;
		margin-bottom: 4px;
		transition: 0.2s;
		width: 20px;
	}
	&:active .stripe { background: $green; }
}

.exit-small-screen-menu {
	bottom: 0;
	display: none;
	left: 0;
	right: 0;
	position: absolute;
	transition: 0.2s;
	top: 0;

	.small-screen-menu-active & {
		background: rgba(255, 255, 255, 0.15);
		cursor: pointer;
		display: block;
		z-index: 1000; // greater than header
	}
}

#page {
	@media screen and (min-width: $small_screen_menu) {
		left: 0 !important;
	}
}

#small-screen-menu {
	display: none;

	@media screen and (max-width: $small_screen_menu) {
		display: block;
		padding: 40px 1em 0;
		position: absolute;
		left: 100%;
		text-align: center;
		top: 0;
		width: 75%;

		ul {
			@include brandon;
			font-size: 20px;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		a, a:visited {
			color: $default;
			display: block;
			padding: 0.5em 2em;
			text-decoration: none;
			&:active, &:focus, &:hover { color: $purple; }
		}
	}
}

// ----- modules

.module {
	
	.content {
		padding: 2em;
			@media screen and (max-width: 800px) {
				padding: 1.5em;
			}
		&.lesser { 
			padding: 1em 1em 0.5em;
			@media screen and (max-width: 800px) {
				padding: 0.75em 0.75em 0.35em;
			}
		}

		&.heading {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			&.with-scroll-up { padding-right: 3.5em; }

			&.bg-turquoise { 
				border-bottom: 2px solid $green;
				margin-bottom: 2px;
			}

			h1, h2, h3 { 
				color: #fff;
				font-size: 1.8em;
				margin: 0; 
			}
		}

		h1, h2, h3, h4 {
			margin-top: 0;

			& + p {
				margin-top: 0;
			}

			&:not(:first-child) {
				margin-top: 2em;
			}
		}

		p {
			strong { 
				color: $purple;
				font-size: 1.1em; 
			}
		}

		// Cribbed from Chris Coyier/CSS-Tricks: http://css-tricks.com/spacing-the-bottom-of-modules/
		& > *:first-child,
		& > *:first-child > *:first-child,
		& > *:first-child > *:first-child > *:first-child {
			margin-top: 0;
		}
		& > *:last-child,
		& > *:last-child > *:last-child,
		& > *:last-child > *:last-child > *:last-child {
			margin-bottom: 0;
		}
	}

	.footer {
		background: $purple;
		border-bottom: 2px solid $lavender;
		color: #fff;
		display: block;
		@include brandon;
		padding-top: 1em;
		padding-bottom: 0.8em;
		text-decoration: none;
	}

	a.footer, a.footer:visited { 
		color: #fff;
		&:active, &:focus, &:hover {
			background: $turquoise;
			border-color: $green;
		}
	}

	#content &:not(:first-child) {
		margin-top: 5em;
	}
}

// ----- home page

$break_home_module: 900px;
.home {
	&.preload {
		opacity: 0;
		transition: 0.2s opacity;
	}

	main {
		@media screen and (max-width: $break_home_module) {
			padding-top: 46px; // height of header
		}
	}
	
	main > section {
		background-color: $default;
		opacity: 0.5;
		padding-top: 30%;
		transition: 0.25s;

		@media screen and (max-width: $break_home_module) {
			background: $green;
			background-size: 100% auto !important;
			background-repeat: no-repeat;
			background-position: 0 0;
			margin-bottom: 20px;
			padding-top: 25%;
		}

		.module {
			bottom: -80px;
			opacity: 0;
			position: absolute;
			transition: 0.25s;
			width: 40%;

			@media screen and (max-width: $break_home_module) {
				bottom: 0;
				opacity: 1;
				position: relative;
				width: 100%;
			}
		}

		h2 {
			color: $turquoise;
			font-size: 3em;
			margin-bottom: 0;
			top: 0; // don't "fix" these titles
			@media screen and (max-width: $break_home_module) {
				font-size: 2em;
			}
		}

		&.active {
			opacity: 1;
			.module {
				opacity: 1;
			}
		}
	}
}

$from_blog: 154px;
$break_home_updates: 800px;
$break_home_updates_small: 400px;
#updates-specials {
	background: $green;
	padding: 120px 0 60px;

	@media screen and (max-width: $break_home_module) {
		padding-top: 20px;
	}

	section {
		min-height: $from_blog;
		padding-right: $from_blog;
		@media screen and (max-width: $break_home_updates_small) {
			padding-right: 0;
		}
		img { display: block; width: 100%; }
		p:first-child { margin-top: 0; }
		p:last-child { margin-bottom: 0; }
	}

	.post {
		padding-right: 2px;
		margin-bottom: 2px;
		@media screen and (max-width: $break_home_updates_small) {
			padding-right: 0;
		}
	}

	.header {
		cursor: pointer;
		@include brandon;
		min-height: ($from_blog - 4px) / 3;

		&.active, &:active, &:hover {
			.title { color: $default; }
		}
	}

	time {
		background: $lavender;
		color: $purple;
		float: left;
		width: 20%;
	}

	.title {
		background: #fff;
		color: $turquoise;
		float: left;
		transition: 0.2s;
		width: 80%;
	}

	time, .title {
		height: 100%;
		padding: 1.1em 2em 0.9em;
		@media screen and (max-width: $break_home_updates) {
			width: 100%;
			.same-height {
				height: auto !important;
			}
		}
	}

	.summary {
		background: $purple;
		color: #fff;
		display: none;
		padding: 2em;
	}
}

	#from-blog {
		background: $purple;
		color: #fff;
		display: block;
		height: $from_blog + 3;
		padding: 1.5em 1em;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: 0;
		transition: 0.2s;
		width: $from_blog;

		@media screen and (max-width: $break_home_updates_small) {
			height: auto;
			margin-bottom: 2px;
			position: relative;
			width: 100%;
		}

		&:hover {
			background: $turquoise;
			color: #fff;
		}

		h2 { 
			font-size: 1.3em;
			margin-top: 2px;
		}
	}

// ----- Pages

$break_masthead: 800px;
main {
	@media screen and (max-width: $break_masthead) {
		padding-top: 46px; // height of header
	}
}
#masthead {
	min-height: 530px !important;

	&.shorter {
		height: 280px !important;
		min-height: 280px !important;
	}

	.module {
		margin-top: 200px;
		max-width: 500px;
		width: 50%;

		@media screen and (max-width: $break_masthead) {
			margin-top: 250px;
			max-width: none;
			width: 100%;
		}
		h1, h2, h3 {
			font-size: 32px;
			@media screen and (max-width: $break_masthead) {
				font-size: 26px;
			}
		}
	}

	p {
		font-size: 1.2em;
		@media screen and (max-width: $break_masthead) {
			font-size: 1em; 
		}
	}

	@media screen and (max-width: $break_masthead) {
		background-position: 50% 0 !important;
		background-size: fill;
		height: auto !important;
		min-height: 0 !important;

		.blog &,
		.single & {
			margin-bottom: 0;
		}
	}
}

.scroll-down {
	cursor: pointer;
	padding: 10px 0 0 10px;
	text-shadow: 0 0 3px transparentize(#000, 0.25);
	transition: 0.5s;
	.preload & { opacity: 0; } // fade in on page load
	&:hover { padding-top: 15px; }

	// redundant on smaller screens
	@media screen and (max-width: $break_masthead) { display: none; }

	.icon-arrow-down {
		font-size: 2.5em;
		margin-right: 0.2em;
		vertical-align: middle;
	}

	p {
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		text-transform: uppercase;
	}
}

#content {
	background: $green;
	padding-top: 5em;
	padding-bottom: 5em;

	@media screen and (max-width: 1000px) {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
	@media screen and (max-width: 700px) {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

#page-intro {
	margin-bottom: 4em;
	h2 {
		float: left;
		margin: 0;
		width: 40%;
	}
	p {
		float: right;
		margin: 0;
		width: 55%;
	}
	@media screen and (max-width: 700px) {
		h2, p {
			width: 100%;
		}
		h2 { 
			font-size: 1.5em;
			margin-bottom: 0.5em; 
		}
		p {
			font-size: 0.9em;
		}
	}
}

.scroll-up {
	background: $lavender;
	cursor: pointer;
	font-size: 1.2em;
	height: 100%;
	padding-top: 0.6em;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.2s;
	width: 3em;

	&:active, &:hover { background: $turquoise; }
}

// ----- Getting Started

#buttons {
	margin-bottom: 5em;
	@media screen and (max-width: 1000px) {
		margin-bottom: 3.5em;
	}
	@media screen and (max-width: 700px) {
		margin-bottom: 2em;
	}

	a {
		@include brandon;
		display: block;
		font-size: 1.3em;
		padding: 1em 1em 0.8em;

		&:active, &:focus, &:hover {
			background: $purple;
		}

		span {
			font-size: 1.6em;
			line-height: 0;
			margin-right: 0.2em;
			top: 0.15em;
		}
	}

	@media screen and (max-width: $break_half) {
		.first {
			margin-bottom: 1em;
		}
	}

	& + .module {
		margin-top: 0 !important;
	}
}

.learn-more {
	float: right;
	margin-left: 20px;
	width: 200px;
	z-index: 2;

	a, a:visited {
		background: $purple;
		color: #fff;
		display: block;
		@include brandon;
		margin-bottom: 10px;
		padding: 1em 1em 0.8em;
		text-align: center;

		&:active, &:focus, &:hover {
			background: $green;
		}
	}

	@media screen and (max-width: 400px) {
		margin-left: 0;
		width: 100%;
	}
}

// ----- Services

#services-nav {
	position: absolute;
	right: 0;
	top: 40%;

	.tab {
		background: $green;
		color: $purple;
		cursor: pointer;
		font-size: 1.5em;
		margin-bottom: 0.5em;
		padding: 0.4em 0.4em 0.1em 1.5em;
		right: -220px;
		top: 0; // override brandon fix
		transition: 0.3s;
		width: 250px;

		&.hover {
			right: 0;
		}

		@media screen and (max-width: $break_masthead) {
			font-size: 1.2em;
			margin: 0;
			padding: 0.4em 0.4em 0.1em;
		}
	}

	.icon-arrow-right {
		height: 14px;
		position: absolute;
		left: 0.2em;
		top: 0.3em;
		width: 14px;

		@media screen and (max-width: $break_masthead) {
			display: none;
		}
	}

	.more-services {
		display: none;
	}

	@media screen and (max-width: $break_masthead) {
		text-align: center;
		top: 0;

		.tab { 
			margin-top: -1.65em;
			right: 0 !important;
		}

		&:hover {
			.tab {
				margin-top: 0;
			}
		}

		.more-services {
			background: $green;
			color: $purple;
			cursor: pointer;
			display: block;
			@include brandon;
			font-size: 1.2em;
			left: 0;
			padding: 0.4em;
			position: absolute;
			top: 0;
			width: 100%;

			.icon-arrow-down { 
				font-size: 1.2em;
				margin-left: 0.2em;
				top: 0.1em;
			}
		}
	}
}

.class-preview {
	background: #fff;
	color: $purple;
	cursor: pointer;
	font-size: 1.2em;
	margin-bottom: 2px;
	padding: 0.5em 1.8em;

	&:after {
		content: "+";
		color: $turquoise;
		font-size: 2em;
		line-height: 100%;
		position: absolute;
		right: 1em;
		top: 0;
		transition: 0.2s;
	}
	&:active,
	&:hover {
		&:after {
			color: $purple;
		}
	}
}

// ----- Instructors

#leader {
	margin-bottom: 5em;
	.instructor {
		border: 0;
		width: 100%;
	}
}

.instructors {
	border-top: 3px solid $green;
	.heading + & {
		border-top: 0;
	}
}

.instructor {
	border-left: 1px solid $green;
	border-right: 1px solid $green;
	cursor: pointer;
	float: left;
	width: 33.333%;
	&.first { left: -1px; }
	&.last { left: 1px; }

	img { width: 100%; }

	.name {
		background: $lavender;
		transition: 0.2s;

		h3 { 
			color: $purple;
			margin: 0;
			@media screen and (max-width: 800px) {
				font-size: 1em;
			}
		}

		span {
			color: #fff;
			@media screen and (max-width: 800px) {
				font-size: 0.9em;
			}
		}
	}

	&.active {
		.name {
			background: $purple;
			h3 {
				color: $lavender;
			}
		}
	}
}

// ----- Studio

.page-template-pagesstudio-php {

	#content {
		.module {
			.heading, img { cursor: pointer; }
		}
	}

	.feature {
		margin-bottom: 4px;
	}
}

// ----- Blog

.entry-title {
	font-size: 2.5em;
	margin-bottom: 0.25em;
	@media screen and (max-width: $break_home_module) {
		font-size: 2em;
	}
	a, a:visited {
		color: $default;
		text-decoration: none;
		&:active, &:focus, &:hover {
			color: $purple;
		}
	}
}

.entry-content {
	& > *:first-child,
	& > *:first-child > *:first-child,
	& > *:first-child > *:first-child > *:first-child {
		margin-top: 0;
	}
}

.entry-meta {
	margin-bottom: 1em;

	time { margin-right: 0.5em;	}

	.addthis_toolbox { 
		display: inline-block; 
		a { margin: 2px 0; }
	}

	a, a:visited {
		color: $purple;
		display: inline-block;
		font-size: 1.15em;
		text-decoration: none;

		&:active, &:focus, &:hover {
			color: $lavender;
		}
	}
}

#pagination {
	margin-top: 3em;

	.older,
	.newer { 
		background: $turquoise;
		transition: background 0.2s;
		&:active, &:focus, &:hover {
			background: $purple;
		}
	}

	a, a:visited {
		color: #fff;
		display: inline-block;
		@include brandon;
		font-size: 1.8em;
		padding: 0.6em 0.6em 0.3em;
		text-decoration: none;
		z-index: 1;
		@media screen and (max-width: 900px) {
			font-size: 1.2em;
			padding: 1.1em 1.1em 0.7em;
		}

		
	}

	.icon-arrow-right,
	.icon-arrow-left {
		color: #fff;
		font-size: 1.4em;
		position: absolute;
		right: 1em;
		top: 0.8em;
		z-index: 0;
	}

	.older {
		a {
			padding-left: 2.5em;
		}
		.icon-arrow-left {
			left: 1em;
		}
	}
	.newer {
		a {
			padding-right: 2.5em;
		}
	}
}

// ----- Modal

.modal-cover {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 1000;
}

.modal {
	display: none;
	left: 50%;
	margin-left: -40%;
	position: fixed;
	width: 80%;
	z-index: 1001;

	.content.bg-white {
		height: 100%;
		overflow-y: scroll;
	}
}

// ----- Footer

$break_footer: 900px;
footer {
	padding: 20px 0 5px;
	a, a:visited {
		color: #fff;
		text-decoration: none;
		&:active, &:focus, &:hover {
			text-decoration: underline;
		}
	}
}
	#copyright {
		font-size: 0.9em;
		line-height: 1.5;

		@media screen and (max-width: $break_footer) {
			float: none;
			margin: 0 auto;
			text-align: center;
		}
	}

	#ext-links {
		padding-top: 10px;

		.icon {
			font-size: 1.4em;
			margin-right: 3px;
			text-decoration: none !important; // don't underline on hover
			top: 0.2em;
		}

		a {
			display: inline-block;
			margin-left: 20px;
			&:active, &:focus, &:hover {
				text-decoration: none;
				span {
					text-decoration: underline;
				}
			}
		}

		@media screen and (max-width: $break_footer) {
			float: none;
			margin: 0 auto;
			a {
				display: block;
				margin: 0 auto;
				padding: 3px;
				text-align: center;
			}
		}
	}

// ----- WP Stuff

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed !important;
	}
}